/* ===== BASE STYLES ===== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ===== HEADER ===== */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ===== HERO ===== */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-heading {
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* ===== SECTION 1 ===== */
.section-first {
    padding: 120px 0;
}

.section-first-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-first-item {
    width: calc((100% - 72px) / 4);
}

.section-first-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-first-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ===== SECTION 2 ===== */
.section-second {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-second-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-second-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.section-second-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    padding-bottom: 32px;
}

.container-second-item {
    padding: 32px 0;
}

.section-second-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-second-list-paragraph {
    line-height: 1.5;
    text-align: center;
    color: #434455;
}

/* ===== SECTION 3 ===== */
.section-third {
    padding: 120px 0;
}

.section-third-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-third-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.section-third-list-item {
    background-color: #fff;
}

.container-third-item {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.section-third-list-heading {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-third-list-paragraph {
    line-height: 1.5;
    color: #434455;
}

/* ===== FOOTER ===== */
footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
}