/* ====== GLOBAL ====== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* ====== CONTAINER ====== */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ====== HEADER ====== */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo span {
    color: #2e2f42;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

/* ====== HERO ====== */
.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    color: #fff;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
}

.hero-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
}

/* ====== FEATURES ====== */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

/* ====== TEAM ====== */
.team-section {
    background-color: #f4f4fd;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-card {
    background-color: #fff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

/* ====== PORTFOLIO ====== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
}

.portfolio-info {
    padding: 32px 16px;
    border-top: none;
}

/* ====== FOOTER ====== */
.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
}

.footer .logo span {
    color: #f4f4fd;
}